body {
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
	background: #86bcd1;
}

.road {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: #1b1b1b;
}
.zelen {
	position: absolute;
	bottom: 9%;
	width: 100%;
	height: 100px;
	background: #2ff807;
}
.dom {
	position: absolute;
	bottom: 14%;
	width: 18%;
	height: 11%;
	background: rgb(255, 115, 0);
	margin-left: 35%;
	opacity: 1;
}
.okno1 {
	position: absolute;

	width: 15%;
	height: 30%;
	background: white;
	margin-left: 10%;
	margin-top: 10%;
}
.okno2 {
	position: absolute;
	right: 10%;
	width: 15%;
	height: 30%;
	background: white;

	margin-top: 30px;
}
.dver {
	position: absolute;
	width: 15%;
	height: 60%;
	background: brown;
	border-radius: 10%;
	margin-left: 120px;
	margin-top: 40px;
}
.krisha {
	position: absolute;
	bottom: 24%;

	margin-left: 34%;
	opacity: 1;
	border-left: 160px solid transparent;
	border-right: 165px solid transparent;
	border-bottom: 100px solid orange;
}
.car {
	position: absolute;
	width: 200px;
	height: 100px;
	background: pink;
	border-radius: 10px;
	bottom: 30px;
	animation: drive 5s infinite linear forwards;
}

.wheel {
	position: absolute;
	bottom: -20px;
	width: 40px;
	height: 40px;
	background: black;
	border-radius: 50%;
}

.wheel.left {
	left: 20px;
}

.wheel.right {
	right: 20px;
}
.sun {
	width: 100px;
	height: 100px;
	background-color: #ffd700;
	border-radius: 50%;
	position: relative;
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.ray {
	position: absolute;
	width: 150px;
	height: 5px;
	background-color: #ffd700;
	top: 50%;
	left: 50%;
	transform-origin: 5px 0;
}
.ray:nth-child(1) {
	transform: rotate(0deg) translate(-50%, -100%);
}
.ray:nth-child(2) {
	transform: rotate(30deg) translate(-50%, -100%);
}
.ray:nth-child(3) {
	transform: rotate(60deg) translate(-50%, -100%);
}
.ray:nth-child(4) {
	transform: rotate(90deg) translate(-50%, -100%);
}
.ray:nth-child(5) {
	transform: rotate(120deg) translate(-50%, -100%);
}
.ray:nth-child(6) {
	transform: rotate(150deg) translate(-50%, -100%);
}
.ray:nth-child(7) {
	transform: rotate(180deg) translate(-50%, -100%);
}
.ray:nth-child(8) {
	transform: rotate(210deg) translate(-50%, -100%);
}
.ray:nth-child(9) {
	transform: rotate(240deg) translate(-50%, -100%);
}
.ray:nth-child(10) {
	transform: rotate(270deg) translate(-50%, -100%);
}
.ray:nth-child(11) {
	transform: rotate(300deg) translate(-50%, -100%);
}
.ray:nth-child(12) {
	transform: rotate(330deg) translate(-50%, -100%);
}

@keyframes drive {
	from {
		left: -200px;
	}
	50% {
		left: calc(100% - 1px);
	}

	to {
		left: -200px;
	}
}
